In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
path = './input/Assignment_Dataset.csv'

In [4]:
df = pd.read_csv(path)
df.head()

,tour_id,match_no,team_id,team_name,home_away,opponent_id,opponent_name,player_id,player_name,position,...,passes_across,short_passes,short_passes_succ,short_passes_accuracy,medium_passes,medium_passes_succ,medium_passes_accuracy,long_passes,long_passes_succ,long_passes_accuracy
0,1,1,1,Team1,H,2,Team2,1,Player001,LD,...,20,13,10,77,34,28,82,0,0,0
1,1,1,1,Team1,H,2,Team2,2,Player002,CD,...,28,4,4,100,46,43,93,5,2,40
2,1,1,1,Team1,H,2,Team2,3,Player003,CM,...,22,12,8,67,31,24,77,6,5,83
3,1,1,1,Team1,H,2,Team2,4,Player004,CM,...,23,7,5,71,24,17,71,1,1,100
4,1,1,1,Team1,H,2,Team2,5,Player005,AML,...,11,11,6,55,16,14,88,4,3,75

In [5]:
df.shape

(4858, 59)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4858 entries, 0 to 4857
Data columns (total 59 columns):
tour_id                    4858 non-null int64
match_no                   4858 non-null int64
team_id                    4858 non-null int64
team_name                  4858 non-null object
home_away                  4857 non-null object
opponent_id                4858 non-null int64
opponent_name              4858 non-null object
player_id                  4858 non-null int64
player_name                4858 non-null object
position                   4847 non-null object
minutes                    4858 non-null int64
goals                      4858 non-null int64
assists                    4858 non-null int64
yellows                    4858 non-null int64
reds                       4858 non-null int64
shots                      4858 non-null int64
shots_on                   4858 non-null int64
shots_off                  4858 non-null int64
shots_accuracy             4858 non-null int64
passes                     4858 non-null int64
passes_succ                4858 non-null int64
passes_fail                4858 non-null int64
passes_accuracy            4858 non-null int64
key_passes                 4858 non-null int64
key_passes_succ            4858 non-null int64
key_passes_fail            4858 non-null int64
key_passes_accuracy        4858 non-null int64
challenges                 4858 non-null int64
challenges_succ            4858 non-null int64
challenges_fail            4858 non-null int64
challenges_accuracy        4858 non-null int64
aerial_duels               4858 non-null int64
aerial_duels_succ          4858 non-null int64
aerial_duels_fail          4858 non-null int64
aerial_duels_accuracy      4858 non-null int64
tackles                    4858 non-null int64
tackles_succ               4858 non-null int64
tackles_fail               4858 non-null int64
tackles_accuracy           4858 non-null int64
lost_balls                 4858 non-null int64
recovered_balls            4858 non-null int64
fouls_committed            4858 non-null int64
fouls_suffered             4858 non-null int64
passes_forward             4858 non-null int64
passes_forward_succ        4858 non-null int64
passes_forward_accuracy    4858 non-null int64
passes_back                4858 non-null int64
passes_back_succ           4858 non-null int64
passes_back_accuracy       4858 non-null int64
passes_across              4858 non-null int64
short_passes               4858 non-null int64
short_passes_succ          4858 non-null int64
short_passes_accuracy      4858 non-null int64
medium_passes              4858 non-null int64
medium_passes_succ         4858 non-null int64
medium_passes_accuracy     4858 non-null int64
long_passes                4858 non-null int64
long_passes_succ           4858 non-null int64
long_passes_accuracy       4858 non-null int64
dtypes: int64(54), object(5)
memory usage: 2.2+ MB

In [32]:
## Create filters with player_id from excel files
xls = pd.ExcelFile("./input/Assignment Output Excel.xlsx")
## Masks
atack_ids = pd.read_excel("./input/Assignment Output Excel.xlsx",header=1,index_col=0).reset_index().drop('index',axis=1)['Player ID']
def_ids = pd.read_excel(xls, 'Defending_Stats',header=1,index_col=0).reset_index().drop('index',axis=1)['Player ID']

In [33]:
## Sort Mask values

atack_ids = atack_ids.sort_values()
def_ids = def_ids.sort_values()

In [34]:
## Separate Leagues
df_l1 = df[df.tour_id==1]
df_l2 = df[df.tour_id==2]

# 1.0 - Analysis - Attacking Stats

In [76]:
## Group by player_id and sum

aux = df_l1.groupby(['player_id']).sum() ## Aux dataframe for league 1
aux2 = df_l2.groupby(['player_id']).sum() ## Aux dataframe for league 2

In [77]:
## Create output dataframes following the player_id as index
out_atk_l1 = pd.DataFrame(index=aux.index)
out_atk_l2 = pd.DataFrame(index=aux2.index)

In [78]:
## Create Features for all League 1 players

out_atk_l1['mins_goal'] = aux['minutes']/aux['goals'] ## Min/goals
out_atk_l1['shots_goal'] = aux['shots']/aux['goals'] ## shots/goal
out_atk_l1['keypasses_passes'] = aux['key_passes']/aux['passes'] ## Keypasses/passes
out_atk_l1['forward_backward'] = aux['passes_forward']/aux['passes_back'] ## Forward Passes/Backward passes
out_atk_l1['total_goals'] = aux['goals'] ## Total Goals

In [79]:
## Create Features for all League 2 players

out_atk_l2['mins_goal'] = aux2['minutes']/aux2['goals'] ## Min/goals
out_atk_l2['shots_goal'] = aux2['shots']/aux2['goals'] ## shots/goal
out_atk_l2['keypasses_passes'] = aux2['key_passes']/aux2['passes'] ## Keypasses/passes
out_atk_l2['forward_backward'] = aux2['passes_forward']/aux2['passes_back'] ## Forward Passes/Backward passes
out_atk_l2['total_goals'] = aux2['goals'] ## Total Goals

In [80]:
out_atk_l1.reset_index(inplace=True)
out_atk_l2.reset_index(inplace=True)

In [81]:
## Concatenate all players on one DF with atack stats 
out_atk_all = pd.concat([out_atk_l1, out_atk_l2],axis=0).reset_index()

In [82]:
output_atk = out_atk_all[out_atk_all.player_id.isin(atack_ids)].reset_index().drop(['level_0','index'],axis=1)

In [86]:
len(atack_ids), len(output_atk)

(338, 340)

## Players who played in both leagues

- Player_ID = 284  --> Player_Name = 310
- Player_ID = 156  --> Player_Name = 156

For individual stats I will sum their data, but for league analysis maybe I will have to separate

In [99]:
output_atk = output_atk.groupby('player_id').sum().reset_index()
len(output_atk), len(atack_ids) ## Now with same size

(338, 338)